# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=school_management
DB_USER=postgres
DB_PASSWORD=admin123

# JWT
JWT_SECRET=a1e51c95-fef5-4574-8696-439e66737027

# Server
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
